.App {
  text-align: center;
  background-color: #292B27;
  height: 100vh;

}

html{
  background-color: #292B27;
  color: #C8D1C5;
}

h1{
  font-size: 2rem;
}

h2{
font-size: 1.5rem;  
}

h3{
  font-size: 1.2rem;
}

p{
  font-size: 1rem;
}

#homepageDagelijksDoel{
display: flex;
flex-direction: row;
justify-content: center;
width: 80%;
margin: 0 auto;
}


.home{
  width: 100vw;
}

svg{
  display: block;
  margin: auto;
  text-align: center;
}
#ringenVerschillendeVoedingsw{
  display: flex;
  flex-direction: row;
}

