.App {
  text-align: center;
  background-color: #292B27;
  height: 100vh;

}

html{
  background-color: #292B27;
  color: #C8D1C5;
}

h1{
  font-size: 2rem;
}

h2{
font-size: 1.5rem;  
}

h3{
  font-size: 1.2rem;
}

p{
  font-size: 1rem;
}

#homepage-dailygoal{
display: flex;
flex-direction: row;
justify-content: center;
width: 80%;
margin: 0 auto;
}


.home{
  width: 100vw;
}


/* App.css */

/* Position the navbar at the bottom of the page */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #191B19;
}

svg{
  display: block;
  margin: auto;
  text-align: center;
}
#rings-per-nutrition{
  display: flex;
  flex-direction: row;
}


