:root {
  --text: #C8D1C5;
  --primary: #292B27;
  --secondary: #191B19;
  --accent: limegreen;
  --protein: #4177E0;
  --fiber: #CB7550;
  --fat: #D652B1;
}

html{
  background-color: var(--primary);
  color: var(--text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}