.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.meals {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: baseline;
    gap: 1rem;
}

.meals h2 {
    font-weight: 400;
    font-size: 1.4rem;
}