.dailygoal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.home {
    width: 100vw;
}

.dials {
    display: flex;
    flex-direction: row;
}
