.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

.loginForm input{
    margin: 1em;
    width: 20rem;
    height: 1.8rem;
    border: 0.1em solid var(--text);
    background-color:var(--primary);
    border-radius: 0.75em;
}

.buttonWrapper button{
    width: 10em;
    height: 3.5em;
    border-radius: 6em;
    background-color: var(--accent);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 2em;
}
