.profilePage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileForm{
    width: 80vw;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.profileForm input{
    margin: 0.6em;
    width: 20rem;
    height: 1.8rem;
    border: 0.1em solid var(--text);
    background-color:var(--primary);
    border-radius: 0.75em;

}

.profileForm button{
    width: 20.5rem;
    background-color: var(--accent);
    border: none;
    height: 2.5em;
    border-radius: 2.5em;
    margin-top: 1em;
}

input:focus{
    border-color: var(--accent);
    outline: none;
}