.recipes{
    width: 100vw;
    height: 100vh;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 2.2rem;
}

.recipesWrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100vw;
}

.recipe{
    width: 85vw;
    height: 6rem;
    background-color: var(--secondary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    justify-content: center;
}

.recipeHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.recipeHeader h3, p{
    margin: 1rem;
}

.textWrapper p{
    color: var(--accent);
}

.textWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


.lineWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.line{
    width: 95%;
    height: 5%;
    height: 0.07rem;
    background-color: var(--text);
}

.description{
    height: 35%;
}

.description p{
    margin-top: 0.1rem;
}

.iconWrapper{
    padding-right: 1rem;
}