.main {
    border-radius: 6em;
    padding: 0.3em;

    cursor: pointer;
    text-align: center;

    background-color: transparent;

    text-decoration: none;
    font-size: 1rem;

    border: 2px solid var(--accent);

    &[data-variant="primary"] {
        background-color: var(--accent);
        color: var(--primary);
    }

    &[data-variant="secondary"] {
        color: var(--accent);
    }
}
