.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary) !important;

  z-index: 100;
}

.navbar svg {
  display: block;
  margin: auto;
  width: var(--navIconSize);
  height: var(--navIconSize);
  stroke: var(--text);
}

.action {
  height: 4rem;
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--text);

  z-index: 100;

  & svg {
    width: var(--navIconSize);
    height: var(--navIconSize);
  }
}
