.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #191b19;
    border-radius: var(--borderRadius);
    padding: 0.8rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 300;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem;
}
