.recipe {
    background-color: var(--secondary);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.8rem;
}

.recipeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textWrapper p {
    color: var(--accent);
}

.textWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--text);
}

.description {
    height: 35%;
}

.description p {
    margin-top: 0.1rem;
}

.iconWrapper {
    padding-right: 1rem;
}
