.main {
    background-color: var(--secondary);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & h3 {
        font-weight: 300;
        font-size: 1.5rem;
    }

    & p {
        font-size: 0.8rem;
        opacity: 0.6;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--text);
}

.description {
}

.nutrients {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    border-top: 1px solid var(--text);

    & > div {
        & p:nth-child(2) {
            font-size: 0.9em;
            opacity: 0.8;
        }
    }
}
